body{
    background: lightblue;
}
/* color palette */

/* Layout */
*{
    box-sizing: border-box;
}

/* footer nav */

footer {
    background: yellow;
    display: flex;
    justify-content: space-around;
}

footer a {
    background: orange;
    display: inline;
    padding: 1em;

}
/*first frame */
footer a {
    text-indent: -1000px; 
    

}

/*last frame */
footer: hover a {
    text-indent: 0
                
    transition: text-indent 1s: 
}